// Notice Component (BEM)
@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins";

.notice {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 100%;

  &__divider {
    width: 100%;
    height: 0;
    border: none;
    margin-bottom: 20px;
    border-top: 1px dashed $color-border;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px; // gap-2
    margin-bottom: 16px;
  }

  &__icon {
    width: 16px; // w-4
    height: 16px; // h-4
  }

  &__title {
    color: #3d444f;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.429em;
    letter-spacing: -0.05em;
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px; // gap-2
    margin-bottom: 32px;
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }

  &__bullet {
    flex-shrink: 0;
    width: 3px;
    height: 3px;
    border-radius: 999px;
    margin-top: 8px;
    background-color: #abb2be;

    &--important {
      background-color: #ea2829;
    }
  }

  &__text {
    flex: 1;
    color: #788497;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin: 0;

    &--important {
      color: #ea2829;
    }
  }

  &__button {
    @media (min-width: 1024px) {
      display: none;
    }
    height: 48px;
    font-size: 16px;
  }
}
