// Tag Component (BEM)
@use '../../styles/variables' as *;
@use '../../styles/mixins';

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.05em;

  &--event {
    height: 24px; // h-6
    padding: 3px 12px; // py-0.75 px-3
    border-radius: 20px;
    background-color: #5998d7;
    color: $color-white;
  }

  &--gift {
    padding: 2px 8px; // py-0.5 px-2
    border-radius: 8px 0 8px 0; // rounded-tl-[8px] rounded-tr-[0px] rounded-br-[8px] rounded-bl-[0px]
    background-color: #b1a59a;
    color: $color-white;
  }

  &--flag {
    padding: 1px 6px 2px; // pt-[1px] pb-[2px] px-1.5
    border-radius: 4px;
    border: 1px solid #ccd1d8;
    background-color: $color-white;
    color: #5c6677;
    font-size: 11px;
    line-height: 1.55em;
  }
}

