// Search Component (BEM)
@use '../../styles/variables' as *;
@use '../../styles/mixins';

.search-bar {
  position: relative;
  width: 100%;
  height: 60px;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__back,
  &__search {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    &:focus-visible {
      outline: 2px solid $color-dark;
      outline-offset: 2px;
    }
  }

  &__back {
    margin-right: 16px;
  }

  &__search {
    margin-left: 16px;
    margin-right: 20px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__input {
    flex: 1;
    height: 24px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    color: #abb2be;

    &::placeholder {
      color: #abb2be;
    }

    &:focus {
      color: $color-dark;
    }
  }

  &__divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 2px solid $color-dark;
  }
}

