// Banner Item Component (BEM)
@use '../../../shared/styles/variables' as *;

.banner-item {
  display: flex;
  flex-direction: column;
  margin: 0;

  &__container {
    display: flex;
    width: 100%;
    height: 130px;
  }

  &__image {
    flex-shrink: 0;
    width: 98px;
    height: 98px;
    margin: 16px 0 0 12px;
    border-radius: 50%;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 18px;
    margin-right: 12px;
    flex: 1;
    min-width: 0;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43em;
    letter-spacing: -0.05em;
    color: #1B1E23;
    margin: 0 0 4px 0;
  }

  &__description {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.46em;
    letter-spacing: -0.05em;
    color: #5C6677;
    margin: 0;
  }

  &__divider {
    width: 100%;
    height: 0;
    border: 0;
    border-top: 1px solid #EEF0F2;
    margin: 0;
  }
}

